.task-list-item {
  list-style-type: none !important;
}

.task-list-item input[type="checkbox"] {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}

.task-list-control {
  display: inline; /* Ensure label is inline incase theme sets it to block.*/
}

.task-list-control {
  position: relative;
  display: inline-block;
  color: #555;
  cursor: pointer;
}

.task-list-control input[type="checkbox"] {
  position: absolute;
  bottom: -6px;
  opacity: 1;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
  color: #FFFFFF;
}

.task-list-indicator {
  position: absolute;
  top: -12px;
  left: -28px;
  display: block;
  width:  22px;
  height: 22px;
  color: #ddd;
  background-color: #ddd;
  border-radius: .25rem;
}

.task-list-control input[type="checkbox"]:checked + .task-list-indicator::before {
  display: block;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 24px;
  line-height: 1;
  content: "✔";
  background-color: #070;
  border-radius: .25rem;
}

.task-list-control input[type="checkbox"]:disabled + .task-list-indicator::before {
  display: block;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 24px;
  line-height: 1;
  /*color: #00FF00;*/
}

.task-list-control input[type="checkbox"] {
  outline: black;
  border: 1px solid #333333;
  opacity: 1;
}

